.classpath
.project
*.xml
*.iml
*.class
*.log
*.DS_Store
/.gradle/
/gradle/wrapper/gradle-wrapper.jar
/temp/
bin/*
/bin/
/data/save_files/
/data/save_files_backups/
/logs/
/out/
/build/
.idea/
/save_files/

!logback.xml

# Config file to define server state
config.yaml
Data/save_files/public/vote_panel.json
data/cfg/vote_panel.json
Data/cfg/wiki/npcs/cached
build/tmp/compileJava/source-classes-mapping.txt
build/tmp/compileTestJava/source-classes-mapping.txt
